<style>
  /*alert*/
  .like {
    position: absolute;
    height: 40px;
    top: -30%;
    right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
  }

  .unlike {
    position: absolute;
    height: 40px;
    top: -30%;
    right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
  }



  .carousel-item img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }


  .bi-heart {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    z-index: 10000;
    background-color: #232323;
    padding: 5px 5px 2px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }

  .bi-heart-fill {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: #232323;
    padding: 5px 5px 2px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    z-index: 0;
    color: red;
  }

  .card {
    border: none;
    border-radius: 10px;
    background-color: #232323;
  }

  #city-span {
    text-transform: capitalize;
  }
</style>
<div class="container-fluid p-0 d-flex justify-content-center align-items-center">
  <h1 class="text-white" style="text-align: center;">Top Selling Homes</h1>
</div>

<div class="container homes-container">
  <div class="row row-gap-4">
    {{#each topSellingHomes}}
    <div class="col-sm-12 col-md-6 col-xl-4 col-lg-4 col-xxl-3">
      <div class="card">

        <div id="carousel{{@index}}" class="carousel slide" style="position: relative;">
          <i class="bi bi-heart" data-like="{{_id}}" data-userId="{{userId}}"></i>
          <i class="bi bi-heart-fill" data-like="{{_id}}" data-userId="{{userId}}"></i>
          <div class="carousel-inner">
            {{#if homeImage.length}}
            {{#each homeImage}}
            <div class="carousel-item {{#if @first}}active{{/if}}">
              <img src="/uploads/{{this}}" class="d-block w-100" alt="Home Image">
            </div>
            {{/each}}
            {{else}}
            <div class="carousel-item active">
              <p class="text-center p-4">Rasmlar topilmadi</p>
            </div>
            {{/if}}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{@index}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel{{@index}}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="card-body">


          <div class="container d-flex justify-content-between align-items-center">
            <h5 class="card-title fs-5 d-flex column-gap-1"><i class="bi bi-building fs-4"></i><span
                id="city-span">{{city}}</span>
            </h5>
            <h5 class="card-title fs-5 d-flex column-gap-1"><i
                class="bi bi-bounding-box-circles fs-4"></i><span>{{area}}m<sup>2</sup> </span></h5>
          </div>

          <div class="container d-flex justify-content-between align-items-center">
            <h5 class="card-title fs-5 d-flex column-gap-1"><i class="bi bi-person-fill fs-4"></i><span
                class="d-flex justify-content-center align-items-center">{{#if
                isBoys}}Yigitlar{{else}}Qizlar{{/if}}</span></h5>
            <h5 class="card-title fs-5 d-flex column-gap-3"><i class="bi bi-wifi fs-4"></i><span
                class="d-flex justify-content-center align-items-center">{{#if isWifi}}Bor{{else}}Yo'q{{/if}}</span>
            </h5>
          </div>
          <div class="container mx-auto d-flex flex-column gap-1 row mt-1">
            <a href="tel:{{sellerPhoneNumber}}" class="btn btn-primary">Connect</a>
            <a href="http://127.0.0.1:8080/info-home/{{_id}}" class="btn btn-danger">Info</a>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

























<div class="container-fluid p-0 d-flex justify-content-center align-items-center">
  <h1 class="text-white" style="text-align: center;">All Homes</h1>
</div>
<div class="container homes-container">
  <div class="row row-gap-4">
    {{#each homes}}
    <div class="col-sm-12 col-md-6 col-xl-4 col-lg-4 col-xxl-3">
      <div class="card">

        <div id="carousel{{@index}}" class="carousel slide" style="position: relative;">
          <i class="bi bi-heart" data-like="{{_id}}" data-userId="{{userId}}"></i>
          <i class="bi bi-heart-fill " data-like="{{_id}}" data-userId="{{userId}}"></i>
          <div class="carousel-inner" >
            {{#if homeImage.length}}
            {{#each homeImage}}
            <div class="carousel-item {{#if @first}}active{{/if}}">
              <img src="/uploads/{{this}}" class="d-block w-100" alt="Home Image">
            </div>
            {{/each}}
            {{else}}
            <div class="carousel-item active">
              <p class="text-center p-4">Rasmlar topilmadi</p>
            </div>
            {{/if}}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{@index}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel{{@index}}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="card-body">


          <div class="container d-flex justify-content-between align-items-center">
            <h5 class="card-title fs-5 d-flex column-gap-1"><i class="bi bi-building fs-4"></i><span
                id="city-span">{{city}}</span>
            </h5>
            <h5 class="card-title fs-5 d-flex column-gap-1"><i
                class="bi bi-bounding-box-circles fs-4"></i><span>{{area}}m<sup>2</sup> </span></h5>
          </div>

          <div class="container d-flex justify-content-between align-items-center">
            <h5 class="card-title fs-5 d-flex column-gap-1"><i class="bi bi-person-fill fs-4"></i><span
                class="d-flex justify-content-center align-items-center">{{#if
                isBoys}}Yigitlar{{else}}Qizlar{{/if}}</span></h5>
            <h5 class="card-title fs-5 d-flex column-gap-3"><i class="bi bi-wifi fs-4"></i><span
                class="d-flex justify-content-center align-items-center">{{#if isWifi}}Bor{{else}}Yo'q{{/if}}</span>
            </h5>
          </div>
          <div class="container mx-auto d-flex flex-column gap-1 row mt-1">
            <a href="tel:{{sellerPhoneNumber}}" class="btn btn-primary">Connect</a>
            <a href="http://127.0.0.1:8080/info-home/{{_id}}" class="btn btn-danger">Info</a>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<div class="container d-flex justify-content-center align-items-center mx-auto">
  <nav aria-label="Pagination Navigation">
    <ul class="pagination pagination-sm">
      {{#each (range 1 pageCount)}}
      <li class="page-item{{#if (eq ../currentPage @this)}} active{{/if}}">
        <a class="page-link" href="?limit=10&page={{@this}}">{{@this}}</a>
      </li>
      {{/each}}
    </ul>
  </nav>
</div>



<script>
 const hearts = document.querySelectorAll(".bi-heart");
const filledHearts = document.querySelectorAll(".bi-heart-fill");

const likeFunc = async () => {
  const response = await fetch("http://127.0.0.1:8080/api/v1/users/");
  const data = await response.json();
  const likedHomes = data.data[0].likes;

  hearts.forEach((heart, index) => {
    const filledHeart = filledHearts[index];
    const homeId = heart.getAttribute('data-like');

    filledHeart.style.zIndex = likedHomes.includes(homeId) ? '10000' : '0';
  });
};

likeFunc();

hearts.forEach((heart, index) => {
  const filledHeart = filledHearts[index];
  const homeId = heart.getAttribute('data-like');
  const userId = localStorage.getItem("userId");

  if (localStorage.getItem("jwtToken")) {
    heart.addEventListener("click", async () => {
      if (!userId || !homeId) {
        console.error("userId or homeId is undefined.");
        return; 
      }

      heart.style.zIndex = "0";
      filledHeart.style.zIndex = "10000"; 

      const response = await fetch("http://127.0.0.1:8080/api/v1/like", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ userId, homeId })
      });

    
      if (!response.ok) {
        heart.style.zIndex = "10000";
        filledHeart.style.zIndex = "0";
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "Failed to add to favorites",
        });
      } else {
        Swal.fire({
          text: 'Added to favorites',
          showConfirmButton: false,
          timer: 3000,
          customClass: {
            popup: 'like',
          }
        });
      }
    });
  } else {
    heart.addEventListener("click", () => {
      Swal.fire({
        icon: "error",
        title: "Oops...",
        text: "You are not registered",
      });
    });
  }
});


</script>