<style>
  .carousel-item img {
    height: 300px;
    width: 100%;
    object-fit: cover;

    border-radius: 10px;
  }



  .card {
    border: none;
    border-radius: 10px;
    background-color: #232323;
  }
</style>
<div class="container-fluid w-100 d-flex align-items-center jusfity-content-center">
  <h1 style="color: white;">My Homes</h1>
</div>
<div class="container homes-container">
  <div class="row row-gap-4">
    {{#each homes}}
    <div class="col-md-6 col-sm-12 col-xl-4 col-xxl-3">

      <div class="card">

        <div id="carousel{{@index}}" class="carousel slide" style="position: relative;">
          <div class="carousel-inner">
            {{#if homeImage.length}}
            {{#each homeImage}}
            <div class="carousel-item {{#if @first}}active{{/if}}">
              <img src="/uploads/{{this}}" class="d-block w-100" alt="Home Image">
            </div>
            {{/each}}
            {{else}}
            <div class="carousel-item active">
              <p class="text-center p-4">Rasmlar topilmadi</p>
            </div>
            {{/if}}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{@index}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel{{@index}}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="card-body">

          <div class="container d-flex flex-column justify-content-between align-items-start">
            <h5 class="card-title fs-5 d-flex column-gap-1"><i class="bi bi-heart-fill"></i><span
                class="d-flex justify-content-center align-items-center">Likes: {{likesCount}}</span></h5>
            <h5 class="card-title fs-5 d-flex column-gap-1"><i class="bi bi-flag-fill"></i><span
                class="d-flex justify-content-center align-items-center">Reports: {{reportsCount}}</span>
            </h5>
          </div>
          <div class="container mx-auto d-flex flex-column gap-1 row mt-1">
            <button class="btn btn-primary">Update</a>
              <button class="btn btn-danger" onclick="deleteHomeFunc('{{_id}}')">Delete</a>

          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>


<script>



  const deleteHomeFunc = (id) => {
    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: "btn btn-success",
        cancelButton: "btn btn-danger"
      },
      buttonsStyling: true
    });
    swalWithBootstrapButtons.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonText: "Yes, delete it!",
      cancelButtonText: "No, cancel!",
      reverseButtons: true
    }).then((result) => {
      if (result.isConfirmed) {
        fetch(`http://127.0.0.1:8080/api/v1/homes/delete/${id}`,{
          method: "DELETE",
        }).then(response =>response.json()).then(data =>{
          console.log(data)
        })
        swalWithBootstrapButtons.fire({
          title: "Deleted!",
          text: "Your file has been deleted.",
          icon: "success"
        }).then(()=>{
          window.location.reload()
        })
      } else if (
        result.dismiss === Swal.DismissReason.cancel
      ) {
        swalWithBootstrapButtons.fire({
          title: "Cancelled",
          text: "Your imaginary file is safe :)",
          icon: "error"
        });
      }
    });
  }
</script>